{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">PRODUCT REVIEW SCRAPER</h1>
    <h2 style="text-align: center">Indian E-Commerce website Flipkart is chosen to scrape the product reviews.</h2>
    <h2 style="text-align: center">Please Enter a Product Name in the search box (eg: iphone13)</h2>

    <div class="form">
        <form action="/review" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Search">
        </form>
    </div>
</div>
{% endblock %}
